#main{
    padding: 100px;
}

#title{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 70px;

}

.container{
    max-width: 700px;
}

p{
    font-size: 20px;
    color: #00000f;
}

#by{
    display: inline;
    font-family: "Lucida Console", "Courier New", "monospace";
}
#writer{
    display: inline;
    font-family: "Lucida Console", "Courier New", "monospace";
}
#date{
    display: inline;
    font-family: "Lucida Console", "Courier New", "monospace";
}